.card {
    border: red solid 4px;
    height: 220px;
    cursor: pointer;
}

#divAdmin {
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 2s ease-in 2s;
}