<div class="row">
    <h2>admin game !</h2>
        <div class="col s4 m4 l4 xl2 offset-xl2">
            <div class="card blue lighten-3 center">
                <h5>Créer une nouvelle partie</h5>
                <i class="material-icons large">create</i>
            </div>
        </div>
        <div class="col s4 m4 l4 xl2 offset-xl1">
            <div class="card deep-purple lighten-3 center">
                <h5>Rejoindre une partie existante</h5>
                <i class="material-icons large">group</i>
            </div>
        </div>
        <div class="col s4 m4 l4 xl2 offset-xl1">
            <div class="card indigo lighten-3 center">
                <h5>Historique de mes parties</h5>
                <i class="material-icons large">history</i>
            </div>
        </div>
</div>