<section class="card-list">
    <article class="card">
        <header class="card-header">
            <p>19/10/2020</p>
            <h2>Card tricks are fun. Hello world !</h2>
        </header>

        <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="../assets/img/avatar/bee.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
  
            <div class="author-name">
              <div class="author-name-prefix">Author</div>
              Alex Vds
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
            <a href="#">web-dev</a>
          </div>
    </article>
    <article class="card">
        <header class="card-header">
            <p>19/10/2020</p>
            <h2>Card tricks are fun. Hello world !</h2>
        </header>

        <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="../assets/img/avatar/bee.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
  
            <div class="author-name">
              <div class="author-name-prefix">Author</div>
              Alex Vds
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
            <a href="#">web-dev</a>
          </div>
    </article>
    <article class="card">
        <header class="card-header">
            <p>19/10/2020</p>
            <h2>Card tricks are fun. Hello world !</h2>
        </header>

        <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="../assets/img/avatar/bee.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
  
            <div class="author-name">
              <div class="author-name-prefix">Author</div>
              Alex Vds
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
            <a href="#">web-dev</a>
          </div>
    </article>
    <article class="card">
        <header class="card-header">
            <p>19/10/2020</p>
            <h2>Card tricks are fun. Hello world !</h2>
        </header>

        <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="../assets/img/avatar/bee.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
  
            <div class="author-name">
              <div class="author-name-prefix">Author</div>
              Alex Vds
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
            <a href="#">web-dev</a>
          </div>
    </article>
    <article class="card">
        <header class="card-header">
            <p>19/10/2020</p>
            <h2>Card tricks are fun. Hello world !</h2>
        </header>

        <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="../assets/img/avatar/bee.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
  
            <div class="author-name">
              <div class="author-name-prefix">Author</div>
              Alex Vds
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
            <a href="#">web-dev</a>
          </div>
    </article>
</section>