<section class="card-list">
    <article class="card card-guerre">
        <header class="card-header">
            <p>19/10/2020</p>
            <h2>Carte Guerre</h2>
        </header>

        <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="../assets/img/avatar/bee.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
  
            <div class="author-name">
              <div class="author-name-prefix">Author</div>
              Alex Vds
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
            <a href="#">web-dev</a>
          </div>
    </article>
    <article class="card card-science">
        <header class="card-header">
            <p>19/10/2020</p>
            <h2>Carte Scientifique</h2>
        </header>

        <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="../assets/img/avatar/bee.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
  
            <div class="author-name">
              <div class="author-name-prefix">Author</div>
              Alex Vds
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
            <a href="#">web-dev</a>
          </div>
    </article>
    <article class="card card-ressource">
        <header class="card-header">
            <p>19/10/2020</p>
            <h2>Carte Ressource primaire</h2>
        </header>

        <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="../assets/img/avatar/bee.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
  
            <div class="author-name">
              <div class="author-name-prefix">Author</div>
              Alex Vds
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
            <a href="#">web-dev</a>
          </div>
    </article>
    <article class="card card-marchand">
        <header class="card-header">
            <p>19/10/2020</p>
            <h2>Carte Marchand</h2>
        </header>

        <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="../assets/img/avatar/bee.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
  
            <div class="author-name">
              <div class="author-name-prefix">Author</div>
              Alex Vds
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
            <a href="#">web-dev</a>
          </div>
    </article>
    <article class="card card-guilde">
        <header class="card-header">
            <p>19/10/2020</p>
            <h2>Carte Guilde</h2>
        </header>

        <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="../assets/img/avatar/bee.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
  
            <div class="author-name">
              <div class="author-name-prefix">Author</div>
              Alex Vds
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
            <a href="#">web-dev</a>
          </div>
    </article>
    <article class="card card-ressource-autre">
        <header class="card-header">
            <p>19/10/2020</p>
            <h2>Carte Ressource secondaire</h2>
        </header>

        <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="../assets/img/avatar/bee.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
  
            <div class="author-name">
              <div class="author-name-prefix">Author</div>
              Alex Vds
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
            <a href="#">web-dev</a>
          </div>
    </article>
    <article class="card card-merveille">
        <header class="card-header">
            <p>19/10/2020</p>
            <h2>Carte Merveille</h2>
        </header>

        <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="../assets/img/avatar/bee.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
  
            <div class="author-name">
              <div class="author-name-prefix">Author</div>
              Alex Vds
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
            <a href="#">web-dev</a>
          </div>
    </article>
</section>