.col {
    background: coral;
    color: white;
    height: 60px;
}

#div-navigation {
    background: gray;
    height: 700px;
}

#div-section {
    background: indigo;
    height: 700px;
}

header {
    background: orangered;
}

.content {
    width: 95%;
    margin: auto;
}